* {
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #2f2f2f 0%, #82827a, #2f2f2f);
}

main {
  background-color: #e4e4e4;
  margin: 24px auto;
  padding: 8px;
  width: 98%;
}

#title,
#tribute-info h2 {
  color: #2a2a28;
  font-weight: bolder;
  margin: 24px auto;
  text-align: center;
  width: calc(100vw - 25%);
}

#img-div {
  background-color: #f2f2f2;
  margin: 0 8px;
  padding: 8px;
}

#image {
  height: auto;
  margin: auto;
  max-width: calc(100vw - 25%);
  display: block;
}

.container-figcaption {
  font-size: 0.9em;
  margin: 8px auto;
  max-width: calc(100vw - 25%);
  display: flex;
  justify-content: space-around;
}

#tribute-info {
  margin: 24px auto;
}

.texto {
  margin: auto;
  max-width: calc(100vw - 25%);
  display: flex;
  flex-direction: column;
}

.texto-principal {
  padding: 0 8px;
  display: flex;
  flex-direction: column;
}

.texto-principal p {
  color: #2a2a28;
  font-size: 1.05em;
  line-height: 1.8em;
  text-align: justify;
  text-indent: 4%;
}

.aside {
  line-height: 1.8em;
  margin: 16px 0;
  text-align: left;
}

.aside aside {
  background: linear-gradient(#e4e4e4, #f2f2f2 20%, #e4e4e4);
  border: 4px ridge #f2f2f2;
  height: 100%;
  padding: 8px 16px;
}

.notas {
  background-color: #f2f2f2;
  line-height: 1.8em;
  margin: 24px auto;
  max-width: calc(100vw - 25%);
  padding: 24px 16px;
}

.notas h3 {
  color: #2a2a28;
  font-weight: bolder;
  margin-bottom: 16px;
}

a {
  color: #2a2a28;
  font-weight: bolder;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .texto {
    flex-direction: row;
  }

  .texto-principal {
    margin: 0 8px;
    width: 70%;
    justify-content: space-around;
  }

  .aside {
    margin: 8px 0;
    width: 30%;
  }

  .aside aside {
    padding: 2.8em 0.6em;
  }
}